
		
      ul {
        list-style-type: none;
        margin: 0;
        float: right;
        padding-right: 40px;
        padding-top: 20px;
        background-color: white;
      }

      li {
        float: left;
        padding: 2px 15px;
      }

      li a {
        display: block;
        color: gray;
        padding: 6px;
        text-decoration: none;
      }

      li a:hover {
        color: white;
        background-color: rgb(255, 107, 51);
      }
      .menuLogo {
        padding: auto;
      }
      #divId {
        background: url(../resources/images/background.png);
        height: 400px;
        width: 100%;
      }

      #greenButton {
        background-color: rgb(66, 205, 106);
        color: white;
        margin-left: 35%;
        border-color: rgb(66, 205, 106);
        margin-top: 5%;
        width: 20%;
        height: 12%;
      }
      #text1 {
        color: white;
		text-align: center;
        font-size: 2.4em;
        font-family: Sans-serif;
      }
      #text2 {
        color: white;
        text-align: center;
		font-size: 1.7em;
        font-family:'Times New Roman', Times, serif;
      }
	  #search {	
            width: 25%;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('../resources/images/search.png');
            background-position:right; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 10px;
            transition: width 0.4s ease-in-out;
            }   
            #selectLocation{
                width: 20%;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url('../resources/images/location.png');
            background-position:right; 
            background-repeat: no-repeat;
            padding: 12px 20px 12px 10px;
            transition: width 0.4s ease-in-out;

            }
            #searchButton{
                background-color:rgb(8, 123, 231);
                    color: white;
                
                    border-color: rgb(8, 123, 231);
                    padding: 12px 10px 12px 10px;
                    margin-left: 10px;
                    width: 12%;
                    height: 12%;

            }
        #transParentBox {
            margin-left: 25%;
        }

        /* Float four columns side by side */
        .column {
        float: left;
        width: 14%; }


        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }/* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 5%;
            padding: 7%;
            font-size: 1em;
            height: 120px;
            border-radius: 10px;
            text-align: center;
            background-color:white;
        }
        .image{
            height:25%;
            width: 25%;

        }
        #bottomDiv{
            padding: 2%;
            background-color:  #f1f1f1;
        }
